.main-body{
    display: grid;
    place-items: center;
    margin-top: 1rem;
    border-radius: 0.25rem;
}

.body{
    margin: 1rem 4rem;
    padding: 2rem;
    width: 80%;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    position: relative;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.float-info{
    padding: inherit;
    position: absolute;
    right:0;
    top: 0;
}

.float-info>span:not(:last-child){
    margin-right: 0.5rem;
}

.float-info>span{
    display: inline-block;
    width: max-content;
    /* margin-right: 0.5rem; */
    padding: 0.25rem 1rem;
    background-color: rgb(246, 246, 246); 
    border-radius: 1rem;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

.float-info>span:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.float-details{
    padding:inherit;
    position:absolute;
    bottom:0;
    right: 0;
}

.float-details>span{
    cursor: pointer;
    text-decoration: underline;
}

.link{
    color: black;
    transition: all 0.2s ease-in-out;
}


.link:hover{
    color: #3f51b5;
    transition: all 0.2s ease-in-out;
}


.call-to-action{
    padding-top: 1rem;
    bottom:0;
    left: 0;
}

header>h2,h3{
    padding: 0;
    margin: 0;
}

.close:hover{
    background-color: #c0392b;
    color: aliceblue;
    transition: all 0.2s ease-in-out;
}

svg{
    width: 1rem;
}

