<div class="body">
    <header>
        <h2>Web Developer</h2>
        <h5>GlobalLogic, India</h5>
    </header>
    
    <div class="float-info">
        <span>Software Developer</span>
        <span>2-5 years</span>
        <span>₹ 5,50,000</span>
        <span>Last Date: 10.09.2022</span>
    </div>
    <p (click)="dialog()" class="description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos officiis quaerat itaque a cupiditate alias dolores, et accusamus, repellat non, doloremque architecto corrupti odit. Quia tenetur alias eveniet quisquam nam?
        Provident exercitationem sint adipisci perferendis, error quis deserunt harum aut alias nemo pariatur eveniet sed hic autem facere ut. Nisi odit quos vel voluptates nobis inventore veritatis fugiat ipsa nostrum?
    </p>
    <div class="call-to-action">
        <button mat-raised-button class="primarybtn">Edit</button>
        <button mat-raised-button class="secondarybtn mx-4 col-md-auto" disabled>Applications (2)</button>
        <button mat-raised-button class="secondarybtn close">Close Job</button>
    </div>
    <div class="float-details">
        <span class="link" (click)="dialog()">More Details...</span>
    </div>
</div>
