<div class="container screen-height item-left">
    <div class="row">
      <div class="col-sm item-center">
          <div class="form-container mat-elevation-z15 box-shadow">
            <form [formGroup]="SignupJobSeekersForm" (ngSubmit)="submit()">
                <div class="row">
                <div class="center">
                    <h1><b>Join us</b></h1>
                </div>
                </div>  
                <div class="row margin-top">
                  <mat-form-field class="example-form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" >
                            <mat-error *ngIf="SignupJobSeekersForm.get('email')!.errors!['required']">Email Required</mat-error>
                            <mat-error *ngIf= " !SignupJobSeekersForm.get('email')!.errors!['required'] && SignupJobSeekersForm.get('email')!.errors!==null &&  SignupJobSeekersForm.get('email')!.errors!['emailmismatch']">Enter a valid email id</mat-error>
                  </mat-form-field>
                </div>
    
               <div class="row">      
                 <mat-form-field class="example-form-field" appearance="outline">
                   <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" >
                            <mat-error *ngIf="SignupJobSeekersForm.get('password')!.errors!['required']">Password is required</mat-error>
                            <mat-error *ngIf="SignupJobSeekersForm.get('password')!.errors!==null && !SignupJobSeekersForm.get('password')!.errors!['required'] && SignupJobSeekersForm.get('password')!.errors!['minLength']">Password should be of minimum 8 characters</mat-error>

                 </mat-form-field>
                </div>
                <div class="row">      
                    <mat-form-field class="example-form-field" appearance="outline">
                      <mat-label>Re-enter password</mat-label>
                           <input matInput type="password" formControlName="password2" >
                               <mat-error *ngIf="SignupJobSeekersForm.get('password2')!.errors!==null && SignupJobSeekersForm.get('password2')!.errors!['required']">Password is required</mat-error>
                    </mat-form-field>
                   </div>

                <div class="center margin-top ">
                    <button mat-raised-button class="primarybtn" type="submit" style="background-color: black;color:white ;">Sign Up</button>
                </div>
                <div class="margin-top text-center">
                    <label style="font-size: 15px;">Already a user? <a href="">Login</a></label>
                </div>
            </form> 
        </div>    
    </div>
    <div class="col-sm item-center" style="margin-top: 45px;">
        <img src="https://img.freepik.com/free-vector/add-user-concept-illustration_114360-5570.jpg?w=996&t=st=1662487406~exp=1662488006~hmac=a430984a8ebf822494b5a4a73e9097a9162621275d2c837223b3b5e3869d43f0" style="width: 550px; ">
    </div>
    </div>
    
</div>

