
.form-container{
    display: block;
    max-width:350px;
    margin:auto;

    background-color:rgb(255, 255, 255);
    padding: 48px;
    border-radius: 8px;
    
}

.form-container mat-form-field{
    width:100%;
    
}

.center{
    display: flex;
    justify-content: center;
}
.margin-top{
    margin-top: 90px;
}
.margin{
    margin-top:25px;
}
.text-center{
    text-align: center;
}
