<!-- <ng-container *ngIf="onLanding" >
    <app-navbar></app-navbar>
</ng-container>
<ng-container *ngIf="!onLanding"  >
    <app-navbar-other></app-navbar-other>
</ng-container> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-navbar></app-navbar>
<app-landing-page></app-landing-page>
<app-login></app-login>
<app-sign-up-job-seekers></app-sign-up-job-seekers>
<app-signup-company></app-signup-company>
<app-applied-jobs></app-applied-jobs>
<app-add-new-job></app-add-new-job>
<app-edit-jobs></app-edit-jobs>
<app-posted-jobs></app-posted-jobs>
<app-job-search></app-job-search> -->

<app-main-signup-page></app-main-signup-page>
