<div class="container screen-height item-left">
    <div class="row">
      <div class="col-sm item-center">
          <div class="form-container margin-top box-shadow mat-elevation-z15">
            <form [formGroup]="SignupCompanyForm" (ngSubmit)="submit()">
                <div class="row">
                <div class="center">
                    <h1><b>Join Us</b></h1>
                </div>
                </div>  
                <div class="row margin-top">
                  <mat-form-field class="example-form-field" appearance="outline">
                    <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" >
                            <mat-error>Email Required</mat-error>
                  </mat-form-field>
                </div>
    
               <div class="row">      
                 <mat-form-field class="example-form-field" appearance="outline">
                   <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" >
                            <mat-error>Password is required</mat-error>
                 </mat-form-field>
                </div>
                <div class="row">      
                    <mat-form-field class="example-form-field" appearance="outline">
                      <mat-label>Re-enter password</mat-label>
                           <input matInput type="password" formControlName="password2" >
                               <mat-error>Password is required</mat-error>
                    </mat-form-field>
                   </div>

                <div class="center margin-top ">
                    <button mat-raised-button class="primarybtn" type="submit" style="background-color: black;color:white ;" routerLink="/companyEdit">Sign Up</button>
                </div>
                <div class="row margin-top text-center">
                    <label style="font-size: 15px;">Already a user? <a routerLink="/login">Login</a></label>
                </div>
            </form> 
        </div>    
    </div>
    <div class="col-sm " style="margin-top: 55px;padding-top: 70px;">
        <img src="https://img.freepik.com/free-vector/fingerprint-concept-illustration_114360-3898.jpg?w=740&t=st=1662968767~exp=1662969367~hmac=d0a24ad157ef8aec3340c86005f6cb792d4a156bf2a3116ad2a165b59c05d748" style="width: 400px; ">
    </div>
    </div>
    
</div>
