.view-job-container{
  height: 95vh;
  position: sticky !important;
  top: 1em;
}

.view-job-body{
  height: calc(90vh - 200px);
  overflow-y: scroll;
  padding-bottom: 2em;
  text-align: justify;
  max-width: 600px;
  min-width: 300px;
}
.view-job-body > div {
  padding: 1rem;
}

button {
 width: 8rem;
}

p{
  margin-bottom: 0;
}
.view-job-body::-webkit-scrollbar {
  width: 0.5em;
}
 
.view-job-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
 
.view-job-body::-webkit-scrollbar-thumb {
  border-radius: 12px;

  background-color: #ccc7c7;
  outline: 1px solid #bec0c1;
}
