<div class="container">
    <header>
        <h1 class="text-left">
        Post New Job
        </h1>
        <h5 style="color: red;"> *Form fields are mandatory</h5>
    </header>
    

    <form class="row" [formGroup]="newJob">
        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Job Title</mat-label>
            <input matInput type="text" formControlName="job_title">
            <mat-error>
                * This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4" >
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="city">
            <mat-error>
                * This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4" >
            <mat-label>Country</mat-label>
            <input matInput type="text" formControlName="country">
            <mat-error>
                * This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4" >
            <mat-label>Category</mat-label>
            <mat-select [(value)] = "newJob.value.category" formControlName="category">
                <mat-option *ngFor="let option of jobOptions" value="{{option}}">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4" >
            <mat-label>Last Date</mat-label>
            <input matInput type="date" formControlName="valid_through">
            <mat-error>
                * This field cannot be empty
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Salary</mat-label>
            <input matInput type="text" formControlName="salary_offered">
            <mat-error *ngIf="newJob.get('salary_offered')!.errors!==null && newJob.get('salary_offered')!.errors!['required']">
                * This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Experience</mat-label>
            <mat-select>
                <mat-option value="1">0-2 years</mat-option>
                <mat-option value="2">2-5 years</mat-option>
                <mat-option value="3">5-10 years</mat-option>
                <mat-option value="4">10+ years</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Number of Openings</mat-label>
            <input matInput type="number" formControlName="numberOfOpenings">
            <mat-error *ngIf="newJob.get('numberOfOpenings')!.errors!==null && newJob.get('numberOfOpenings')!.errors!['required']">
                * This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-4">
            <mat-label>Skills</mat-label>
            <mat-chip-list class="custom-chip-margin" #chipList aria-label="Video keywords" multiple formControlName="required_skills">
                <mat-chip class="custom-chip"
                    *ngFor="let keyword of keywords"
                    [selected]="keyword"
                    [value]="keyword"
                    (removed)="removeKeyword(keyword)">
                  {{keyword}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
            <input matInput type="text" placeholder="New keyword..."
            [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="addKeywordFromInput($event)" formControlName="required_skills">
            </mat-chip-list>
            
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Job Description</mat-label>
            <textarea matInput rows="7" formControlName="description"></textarea>
            <mat-error>
                * This field is required
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="col-md-6">
            <mat-label>Roles and Responsibility</mat-label>
            <textarea matInput rows="7" formControlName="roleAndResponsibility"></textarea>
            <mat-error>
                * This field is required
            </mat-error>
        </mat-form-field>

        

        <div class="col-md-12">
            <button mat-raised-button class="col-md-auto primarybtn" (click)="submit()">Post</button>
            <button mat-raised-button class="col-md-auto mx-4 secondarybtn" routerLink="/postedJobs">Cancel</button>
        </div>
            
    </form>
</div>
