/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.primarybtn{
    margin: 10px 0 0 0 ;
    padding: 0 16px;
    min-width: max-content;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: black;
    color:white;
}

.secondarybtn{
    margin-top: 20px;
    padding: 0 16px;
    min-width: max-content;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    color:black;
}

.green-snackbar {
  background:#e5fff1;
  color: #0c913d;
}
.green-snackbar button {
  background-color: #0c913d;;
  color: #e5fff1;
  border: none;
}