<div class="container screen-dimensions item-center">
  <div class="row">
    <div class="col-sm-6">
        <div class="item-left">
        <img src="https://img.freepik.com/free-vector/web-search-concept-illustration_114360-4767.jpg?w=740&t=st=1663051853~exp=1663052453~hmac=94b58c4333c39adb17b5c9c00ef68be442f556a28220181641301917b26a0c15" style="width: 400px;">
    </div>
        <div class="item-center" style="margin-right: 80px;">
            <p style="font-size:30px;"><b>Sign up as a job seeker</b></p>
            <button mat-raised-button class="primarybtn mx-auto margin" type="submit" style="background-color: black;color:white ;">Sign Up now</button>
        </div>
    </div>
    <div class="col-sm-auto">
        <div class="d-flex" style="height: 100%;">
            <div class="vr"></div>
        </div>
    </div>
    <div class="col-sm-5 item-left">
        <img src="https://img.freepik.com/free-vector/team-concept-illustration_114360-678.jpg?w=996&t=st=1663052088~exp=1663052688~hmac=2c4ae6a5986d051b3791a1ca62ff239b919f02bbbd1a02816ae74baa18eaaa7d" style="width: 600px;" >   
        <div class="item-center">
            <p style="font-size:30px;"><b>Sign up as a company</b></p>
            <button mat-raised-button class="primarybtn mx-auto margin" type="submit" style="background-color: black;color:white ;">Sign Up now</button>
        </div>
    </div>
  </div>
</div>

