<nav class="navbar navbar-expand-lg " style="background-color: #1976d2;">
    <div class="d-flex flex-row w-100">
        <div class="d-flex flex-row col-md-6" style="margin-right:auto;">
            <div class="m-2" style="padding-left: 2rem;">
                <a class="navbar-brand" routerLink="/home" (click)="onLanding()"><img src="./assets/static/logo.png" width="160px" height="50px"
                        alt=""></a>
            </div>
            <div class="d-flex flex-row mt-4" style="padding-left:40px ;">
                <div style="margin-right: 2rem;" [hidden]="loggedin">
                    <a routerLink="/home" (click)="onLanding()" style="text-decoration: none;"><span style="color: white;">Home</span></a>
                </div>
                <div style="margin-right: 2rem;" [hidden]="!loggedin">
                    <a (click)="routeView()" style="text-decoration: none;"><span style="color: white;">Profile</span></a>
                </div>
                <div style="margin-right: 2rem;" [hidden]="!loggedin" *ngIf="onCandidate">
                    <a (click)="routeJobSearch()" style="text-decoration: none;"><span style="color: white;">Job Seacrh</span></a>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end ml-auto">

            <div class="d-flex flex-row mt-2" style="margin-left: 2rem;padding-top: 0.2rem;margin-right: 5rem">
                <div [hidden]="loggedin" style="margin-right: 2rem;">

                    <button class="btn btn-outline" routerLink="/login"
                        style="background-color: white;color:black;width: 7rem;"
                        type="submit">Log in</button>
                </div>
                <div [hidden]="loggedin">
                    <button class="btn btn-outline" routerLink="" type="submit"
                        style="background-color: black;color:white ;width: 7rem;" routerLink="/mainSignup">Sign
                        Up</button>
                </div>
                <div [hidden]="!loggedin" style="margin-left: 15rem;">
                    <div class="d-flex flex-row">
                        <div class="me-2 bd-highlight d-flex justify-content-end">
                            <div class="flex-row bd-highlight">
                                <span style="font-size: larger;">
                                    <svg style="width: 50px ;height:50px;border-radius:50%;fill: white;"
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                        <path fill-rule="evenodd"
                                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                    </svg>
                                </span>
                            </div>
                        </div>
                        <div class="flex-row bd-highlight">
                            <div class="dropdown" style="padding-top:0.9rem ;">
                                <button style="border: none;background-color:#1976d2;" class="dropdown-toggle"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" style="left: -8em;top: 3em;">
                                    <li style="margin-bottom: 0.4rem;"><a class="dropdown-item disabled" href="#"
                                            style="font-weight:bold;color:black ;">Logged in as:</a></li>
                                    <li class="dropdown-item disabled" style="margin-bottom: 0.1rem;">
                                        <p style="color:black ;">{{userName}}</p>
                                    </li>
                                    <mat-divider style="margin-bottom: 0.4rem;"></mat-divider>
                                    <li style="margin-bottom: 0.4rem;"><a class="dropdown-item" (click)="routeView()">My Profile</a>
                                    </li>
                                    <li style="margin-bottom: 0.4rem;"><a class="dropdown-item" href="#">About us</a>
                                    </li>
                                    <mat-divider style="margin-bottom: 0.4rem;"></mat-divider>
                                    <li style="margin-bottom: 0.4rem;"><a class="dropdown-item" (click)="loggedOut()" routerLink="/login">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>